
$fontLarge: 2em;
$container-width: 100%;
$column-count: 4;
$margin: 1%;


$body-font: "Helvetica Neue", Arial, sans-serif;
$header-font: "Segoe UI", "Myriad Pro", $body-font;
$width: 960px;
$default-padding:10px;